<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/general/phd_student.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> PhD Student</h4>
        <h6 class="experience-info">( Sep 2018 - Present )</h6>
        <p class="experience-desc">I'm working on an extension of High-level Petri nets, adding a way to use functions as token. </p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/general/teach.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Assistant</h4>
        <h6 class="experience-info">( Sep 2018 - Present )</h6>
        <p class="experience-desc"> I've given courses/exercises for bachelor and master students in the
          domain of "Semantics" and "Software Modeling and Verification".
        </p>

    </div>
</div>
